body, html {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

 /* Mobile device screen */
@media screen and (max-width: 750px){
  /* Logo and Navigation Container */
  .logo-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 64px;
  }

  .divider-1 {
    width: 120%;
    border-bottom: 1px solid black;
    padding: 15px 0; /* Spacing for the container */
    margin: 18px 0px; /* Space around the divider */
  }

  .divider-2 {
    width: 120%;
    border-top: 1px solid black;
    padding: 15px 0; /* Spacing for the container */
    margin: 18px 0px; /* Space around the divider */
  }

  /* Navigation Styling */
  nav {
    display: flex;
    justify-content: center;
    margin: 0 20px 0 20px;
    width: 100%;
  }

  .navigation {
    gap: 0px;
  }

  .flex-item {
    flex: 0 45%;
}}

/*------------------------------------------------------------------------*/
/* Logo & Navigation */
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Reduced padding */
  height: 100px;
}

.logo {
  max-height: 80px;
  max-width: 100%;
  padding: 0 40px; 
  display: block;
}

/* Navigation */
nav {
  display: flex; 
  justify-content: flex-end; /* Align nav items to the right */
  width: auto;
  margin-left: auto; /* Pushes nav items to the right */
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Display nav items in a row */
  gap: 5px;
}

.navlist a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 15px 10px 15px; /* Padding around each button */
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.navlist a:hover {
  background-color: rgb(234, 234, 234);
  border-radius: 5px; /* Rounded buttons */
}

.mainimg {
  width: 100%;
  display: block;
}

section {
  width: 100%;
  background-color: #F0ECE9;
}

div.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(88, 48, 33); /* fix colour to actual website*/
}

h1, h2, h3, h4 {
  color: white;
  text-align: center;
}

/* Colour of title in section for 
"Ingredients & production method" black*/
h2.about-ingre {
  color: black;
}

.centertext{
  text-align: center;
}

h2.menutitle {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left:20px;
  height: 100px;
  background-color: rgb(88, 48, 33); /* fix to color to actual website*/
}
/* Home/Index Flexboxes */
.home-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

/* Menu FLexboxes */
.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

/* flex item of 20% per item */
.flex-item {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 15%; /* 15% for borders*/
  display: flex;
  flex-direction: column;
  /* so child elements can use flexbox stuff too! */
  /* switching on borders will force the 5th flex item to move down*/
  border: 1px solid #D3D3D3;
}

.flex-item img {
  width: 100%;
}

/* Stores & Contact */
.storeinfo {
  padding-left: 50px;
}